@import url("./image_radio.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic);

body {
	background-color: rgba(244,244,244,0.5);
	font-family: 'Roboto', sans-serif;
}

.panel-default>.panel-heading {
	color: #FFF;
  background-color: rgba(33, 150, 243, 0.7);
}

.panel-title {
		margin-left: 10px;
    font-weight: bold;
}



